@import 'variables'
@import 'mixins'


.App 
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  align-self: center
  box-sizing: border-box
  width: 100%
  max-width: 1366px
  background-color: $background-gray
  margin: 0 auto

.form-container
    @include form-container-dm()

.main
    @include main-dm(row)
    
h1
    @include heading-dm()


p
    @include paragraph-dm()

label
    @include label-dm()



form
    width: 100%

input[type=text]
    @include form-input-dm()

input[type=text]:focus
    @include form-input-focus-dm()



.submit
    @include button-dm()




.submit:hover
    @include hovered-button-dm()

.component-container
    @include component-container-dm()




@media (max-width: 1024px)

  .main
    flex-direction: column

  .component-container
    width: 80%

  input[type=text]
    width: 100%
    font-size: 2rem
    
  label
    font-size: 2rem


@media (max-width: 750px)

  .main
    flex-direction: column

  .component-container
    width: 100%

  input[type=text]
    width: 100%
    font-size: 3rem
    
  label
    font-size: 3rem

    .form-container
    align-self: center

.Collapsible
    background-color: transparent
    
.Collapsible__trigger
  display: flex
  width: 100%
  padding-right: 1%
  color: $secondary-color
  justify-content: flex-end
  font-size: 2rem

.Collapsible__contentInner
  font-size: 1.5rem
  color: $main-background

  .Collapsible__trigger.is-open
    display: flex
    width: 100%
    padding-right: 1%
    color: green
    justify-content: flex-end
    font-size: 2rem