@import 'variables'
@import 'mixins'

.schedule-title
    font-size: 3rem


.schedule-form
    @include form-container-dm()
    width: 90%

.date-heading
    text-align: left
    font-size: 2rem
    color: white


