@import 'variables'
@import 'mixins'

.schedule-title
    font-size: 3rem

.event-check
    display: flex
    flex-direction: row
    width: 100%
    justify-content: flex-start
    align-items: flex-start

.schedule-form
    @include form-container-dm()
    width: 90%

.date-heading
    text-align: left


