@import mixins.sass
@import variables.sass


.coverflow__coverflow__53z9A
    background-color: $background-gray
    height: 3000px
                
.coverflow__stage__14oqC
  position: absolute
  top: -146px
  margin: 0 auto