@import 'variables'
@import 'mixins'



nav
    width: 90%
    position: absolute
    top: -6px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-end
    a
        color: $secondary-color
        font-size: 1.5rem
        margin-bottom: 25px
    a:hover
        text-decoration: none
        color: $main-background
        font-size: 1.5rem
        margin-bottom: 25px

    .login
        display: flex
        flex-direction: row
        align-items: flex-end
        align-self: flex-end
        justify-items: center
        width: 50%
        margin-right: 0
        img 
            padding-top: 20px
            width: 15%
            z-index: 1

        .premium 
            padding-top: 20px
            width: 12%
            z-index: 1
        .signin
            display: flex
            justify-items: flex-end
            align-items: center
            text-align: center
            background-color: transparent
            margin-bottom: 0
            z-index: 1
            border: 0
            color: $main-background
            font-size: 2rem
    
    .logout
            display: flex
            align-items: flex-end
            justify-items: center
            width: 20%
            margin-right: 0
            padding: 0
            img 
                padding-top: 20px
                width: 30%
            .premium 
                padding-top: 20px
                width: 40%
            .signout
                display: flex
                justify-items: flex-end
                align-items: center
                background-color: transparent
                margin-bottom: 0
                width: 100%
                border: 0
                padding-left: 25px;
                color: $main-background
                font-size: 1.25rem
 
.login:hover
    .signin
        justify-items: center
        color: white
    img
        transform: rotateY(360deg)	
        transition: transform 1s;

.logout:hover
    .signout
        justify-items: center
        color: white
    img
        transform: rotateY(360deg)	
        transition: transform 1s;
        

.active
    border-bottom: 1px solid $secondary-color
    box-shadow: 0 0 0 6px $background-gray, 0 4px 0 5px $secondary-color;
    color: white

.login-container
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 10px
    z-index: 1

    .login
        justify-content: center
        align-self: center
    h1
        align-self: center
        font-size: 3rem
        font-style: oblique


@media (max-width: 1024px)
    nav 
        flex-direction: column
        justify-content: center
        align-items: center
        a
            font-size: 4rem
            margin: 10px 0
            border-bottom: 1px solid red
            border-top: 1px solid red
            width: 100%
        .active
            box-shadow: none
            border-bottom: 5px solid $secondary-color
            border-top: 5px solid $secondary-color
            box-shadow: 0;


        a:hover
            text-decoration: none
            color: $main-background
            font-size: 4rem
            margin: 0
        
        .logout
            display: flex
            align-items: flex-end
            justify-items: center
            width: 75%
            .signout
                font-size: 2.5rem
        .login-container
            width: 100%


@media (max-width: 750px)
    nav 
        width: 100%
        align-items: center
        justify-content: center
        margin-left: 0
        .logout
            justify-content: center
            .signout
                width: 10%

        a
            font-size: 4rem
            margin: 10px 0