@import 'variables.sass'
@import 'mixins.sass'



.progressView 
  margin: 150px auto
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  color: $secondary-color

.formBox
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  flex-direction: column
  border: solid 1px $secondary-color

.progressForm
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  flex-direction: column
  border: solid 1px $secondary-color
