@import 'variables.sass'
@import 'mixins.sass'


.progress-view 
  margin-top: 150px;
  display: flex
  align-self: flex-start

.formBox
  display: flex
  flex-direction: row
  justify-content: center
  align-items: flex-start
  flex-direction: column
  flex-wrap: wrap
  border: solid 1px $secondary-color

  
.progress-form
  display: flex
  align-self: flex-start

.progress-form .form-container 
  margin-top: 0px
