@import mixins.sass

@import variables.sass



.main
    display: flex
    flex-direction: row
    padding: 2.5%
    justify-content: center
    width: 100%
@media (max-width: 750px)
    .main
        flex-direction: column







        


