
@import mixins.sass

@import variables.sass



.cat
    color: $secondary-color
    font-size: 1.5rem


.event-check
    display: flex
    justify-content: space-around
.scheduled
    display: flex
    flex-direction: column
    margin: 5px
    width: 50%
    font-size: 1.25rem
    padding: 0
    p
        margin: 0
        text-align: left












        


