@import 'variables.sass'
@import 'mixins.sass'

.events-heading
    align-self: flex-start
    font-size: 1.5rem
    color: $secondary-color

.event-full
    display: flex
    flex-direction: row
    width: 100%
    justify-content: flex-start
    align-items: center



.event-check
    display: flex
    flex-direction: row
    width: 100%
    justify-content: flex-start