@import 'variables.sass';
@import 'mixins.sass';

.settingsView
  display: flex
  flex-flow: column nowrap
  align-items: center

.stripe-checkout-container
  display: flex
  flex-direction: row
  margin-bottom: 20px
  justify-content: center
  width: 50%