
@import 'variables.sass'
@import 'mixins.sass'

.main
    @include main-dm(colun) 
    justify-content: flex-start

@media (max-width: 1024px)
    justify-content: center

@media (max-width: 750px)
    justify-content: center