@import 'variables.sass'
@import 'mixins.sass'



.Main 
  margin: 150px auto
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center

input 
  width: 1000px
  height: 30px
  font-size: 1.2rem
  
  


